<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
		<style>
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				} 
			}
		</style>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">


                    <h1>Scene Change Questionnaire</h1>
                    <br>
                    <h1>Consent to Participate in Research</h1>
                    <br>

                    <p>Version date: 05/18/2023</p>
                    <br>
                    <p>
                    <h2>Purpose of the research:</h2>
                        You are being asked to participate in a research project that is being done by Arseny Moskvichev, from the Sante Fe Institute and Ky-Vinh Mai, from the University of California, Irvine. We would you to complete a survey to learn more about narrative understanding, which will be extended to neural machine translation for language models. The interview will last about 20 - 30 minutes. You are eligible to participate because you live in the US and are at least 18 years old.
                        <br>
                        <br>
                        This consent form contains important information about this project and what to expect if you decide to participate.  Please consider the information carefully. Feel free to ask questions before making your decision whether or not to participate. Your participation in this research is voluntary.
                    </p>



<h2>What you will do in the project:</h2>

You will participate in this research using your own computer, in the place of your own choosing. The research will involve reading book snippets and filling in simple multiple choice questions about corresponding book summaries on whether or not they are accurate to the snippet.

You will be able to end your participation at any moment, although you will only receive compensation if you complete the experiment.




                    <h2>Risks:</h2>

There are no known risks associated with this study, other than a mild fatigue associated with reading multiple paragraphs of text and potential mild frustration related to answering some questions.



                    <h2>Benefits:</h2>
 Other than the monetary compensation, there are no known benefits in participating in this research. However, it is hoped that some of the narrative texts and summaries may be interesting and intellectually stimulating.

                    <h2>Confidentiality of your information:</h2>
We will not store any personally identifiable information, except for your MTurk ID, which we need to process payments. This information will first be stored on a password protected server, then (when the data collection process is over) will be transferred onto a password-protected laboratory computer. We will remove your MTurk ID from the data before releasing it to the research community. We will take measures to protect the security of all your personal information, but we cannot guarantee confidentiality of all research data. The University of New Mexico Institutional Review Board (IRB) that oversees human research and/or other entities (such as a Sponsor or FDA) may be permitted to access your records. Your name will not be used in any published reports about this project.

<p>
You should understand that the researchers are not prevented from taking steps, including reporting to authorities, to prevent serious harm to yourself or others.
<br>
</p>
Use of your information for future research:

All identifiable information (which only includes your MTurk ID) will be removed from the information or samples collected in this project. After we remove all identifiers, the information or samples may be used for future research or shared with other researchers without your additional informed consent.

<h2>Payment:</h2>

 Completing the task takes, on average, around 20-30 minutes although it might take a longer or shorter period of time depending on your individual pace. In return for your time participating in this project, you will be paid $5.00. You will not be paid and your task will be rejected if you do not complete the project, or your activity are suspicious or your answers are nonsensical.

                    <h2>Right to withdraw from the research:</h2>

                    Your participation in this research is completely voluntary. You have the right to choose not to participate or to withdraw your participation at any time without penalty.


In the course of the experiment, there may be up to three simple “attention check” problems that we will use to check if you are paying attention during the experiment. If you fail them, the experiment will be terminated without payment.

After you begin the experiment, you will be able to end your participation at any moment, although you will only receive compensation if you complete the experiment.


If you have any questions, concerns, or complaints about the research, please contact mm@santafe.edu .

If you have questions regarding your rights as a research participant, or about what you should do in case of any research-related harm to you, or if you want to obtain information or offer input, please contact the IRB. The IRB is a group of people from the University of New Mexico and the community who provide independent oversight of safety and ethical issues related to research involving people:

UNM Office of the IRB, (505) 277-2644, irbmaincampus@unm.edu. Website: http://irb.unm.edu/

                    <p><br></p>


                    <h1>CONSENT</h1>

You are making a decision whether to participate in this research. Clicking the button below indicates that you have read this form (or the form was read to you) and that all questions have been answered to your satisfaction. By submitting this consent form, you are not waiving any of your legal rights as a research participant.


                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this experiment.
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>
