<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Now it's time to apply your knowledge.
        </p>
        
        <p>
            You will first have two practice problems with unlimited attempts at finding the solution. Use them to get comfortable with the study interface. After you solve both of them, you will have only three attempts to solve each subsequent puzzle.
        </p>

        <p>
            <strong>TO SAVE TIME,</strong> make sure to get comfortable with all available buttons - flood fill, copy from input, and so on. They will often allow you to draw your solutions faster.
            Note, we recommend to expand the experiment window for optimal experience.

        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
