<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Welcome and thank you for agreeing to participate in our research!
        </p>

        <p>
            This study is about reading book snippets and evaluating associated summaries.
        </p>

        <p>

            Each question will feature a book snippet and two associated summaries, <b>one accurate</b> and <b>one inaccurate</b>. You need to <b>indicate which summary is the correct one</b>.

	    </p>

        <p>*Note that book snippets were selected randomly, so they often start and end abruptly (for example, in the middle of a word). It is also (understandably) confusing to start reading a book in a middle of a narrative. Please try to use your best judgement to compensate for these difficulties.</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
